.ctx_seminar .sub_visual {
  background: url(../img/seminar_bg.png) 50% 0 no-repeat;
}

.container {
  padding-left: 0!important;
  padding-right: 0 !important;
}
.seminar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: 'Noto Sans';
  margin-top: 6.5rem;


  @media ($m-s) {
    margin-top: 0;
  }
  @media (min-width: 1296px) {
    padding: 0;
  }
}

.fw300 {
  font-weight: 300!important;
}

.seminar-title {
  font-size: 42px!important;
  font-weight: 600!important;

  @media ($m-xs) {
    font-size: 72px!important;
    line-height: 1.361em !important;
  }
}

.sub_visual>.visual_content> .inner>.sub-title {
  font-size: 20px;
  line-height: 1.35em;
  font-weight: 600;
}
.sub-title {
  line-height: 1.35em;
  font-weight: 600;
}

.sub-title--mb64 {
  margin-bottom: 64px;
}

.events {
  display: flex;

  &__nav {
    position: absolute;
    left: -100%;
    width: 100%;
    padding: 24px;
    border: 1px solid $c-border;
    background-color: $c-gray-first;
    transition: left .4s;
    
    &.is-active {
      left: 0;
    }
  }

  &__section {
    flex-basis: 100%;
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
  }

  @media ($m-s) {
    &__nav {
      position: static;
      display: block;
      flex-basis: 25%;
      width: auto;
    }

    &__section {
      flex-basis: 75%;
    }
  }
}

.events-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  border: 1px solid $c-border;
  margin-left: -1px;
  margin-bottom: -1px;


  &--1-4 {
    width: 100%;
  }

  @media ($m-s) {
    width: 50%;


    &--1-4 {
      width: 50%;
    }
  }

  @media ($m-m) {
    width: 33.333%;

    &--1-4 {
      width: 25%;
    }
  }
}
.item-bottom {
  font-size: 18px;
  font-weight: 300;
}
.item-date, .item-loc {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.389em;
  color: $c-text-primary;
}
.item-title {
  margin-bottom: 8px;
  height: 242px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35em;
  color: $c-black;
}

.nav-city,.nav-date {
  margin-bottom: 42px;
}

.nav-date {
  input {
    margin: 14px 0 17px 0;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: $c-text-primary;
  }
}


.nav-city__select {
  margin: 14px 0 17px 0;
  color: $c-text-primary;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 300;
  background-color: transparent;
}


.nav-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.350em;
  color: $c-black;
}

.nav-topic__input {
  display: none;
}

.nav-topic__input:checked ~ .nav-topic__check:after {
  opacity: 1;
}

.nav-topic__check {
  position: relative;
  display: inline-block;
  margin-bottom: -6px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-color: $c-white;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background: url("../img/check.svg") no-repeat center;
    opacity: 0;
    transition: opacity .2s;
  }

  &--brd {
    border: 1px solid #E6E6E6;
    position: absolute!important;
  }

}

.topic-option {
  padding: 14px 0 17px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.389em;
  color: $c-text-primary;
  user-select: none;
}

.block-title {
  margin: 32px 0 32px 0;
  font-size: 28px;
  line-height: 1.361em;
  font-weight: 600;
  color: $c-black;

  &--mb30 {
    margin-bottom: 30px;
  }

  &--mt0 {
    margin-top: 0;
  }

  @media ($m-xs) {
    margin: 64px 0 64px 0;

    &--mb30 {
      margin-bottom: 30px;
    }
    &--mt0 {
      margin-top: 0;
    }
  }

  @media ($m-l) {
    font-size: 36px;
  }
}

.al-left {
  text-align: left;
}

.al-center {
  text-align: center;
}

.manager-section, .specialist-section {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;

  @media ($m-xs) {
    padding-top: 86px;
  }
}
.manager-section {
  flex-direction: column-reverse;
  padding-bottom: 36px;

  @media ($m-xs) {
    padding-bottom: 128px;
  }

  @media($m-m) {
    flex-direction: row;
  }
}

.specialist-section {
  flex-direction: column;
  padding-top: 86px;

  &--pb64 {
    padding-bottom: 64px;
  }

  @media($m-m) {
    flex-direction: row;
  }
}
.section-text {
  width: 100%;
  margin-top: 24px;

  @media($m-m) {
    width: 37.5%;
    margin-top: 0;
  }
}

.pic-wrap {
  position: relative;
  overflow: hidden;
  height: 553px;
}

.section-image {
  position: relative;
  width: 100%;


  &--pa {
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &--right-sqr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -86px;
    right: -50%;
    background-color: $c-gray-second;
  }

  &--left-sqr:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -86px;
    left: -50%;
    background-color: $c-gray-second;
  }

  @media($m-m) {
    width: 57.5%;
  }
}

.section-text__title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.357em;
  color: $c-black;
  font-weight: 600;

  &--m64 {
    margin: 32px 0;
  }

  @media ($m-xs) {
    font-size: 36px;

    &--m64 {
      margin: 64px 0;
    }
  }

  @media ($m-ml) {
    font-size: 56px;
  }
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.389em;
  color: $c-text-primary;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: -24px 0 0 -64px;

  &__item {
    width: 100%;
    padding: 24px 0 0 64px;
  }

  @media ($m-xs) {
    &__item {
      width: 50%;
    }
  }
}

.grid-item__title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.350em;
  color: $c-black;
  font-weight: 600;
}

.grid-item__link {

  a {
    text-decoration: underline !important;
  }
}

.soon-events {
  padding-bottom: 40px;
}

.last-events {
  padding-bottom: 64px;
}

//speakers
.speakers {
  position: relative;
  padding-top: 64px;

  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 300%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: $c-gray-second;
  }

  @media ($m-xs) {
  }
}

.speakers-block {

  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;

  &__card {
    position: relative;
    display: flex;
  }

}
.speakers-block__card:hover {
  z-index: 2;
  box-shadow: 0 0 12px rgb(121, 62, 88);
  transition: box-shadow .4s;

  .speakers-card__content {
    display: block;
    z-index: 1;
    box-shadow: 0 0 12px rgb(121, 62, 88);
    transition: box-shadow .4s;
  }
  .speakers-card__pic {
    z-index: 2;
  }
}

.speakers-card {
  width: 100%;

  @media ($m-xs) {
    width: 50%;
  }

  @media ($m-s) {
    width: 33.333%;
  }

  @media ($m-m) {
    width: 25%;
  }

  @media ($m-l) {
    width: 20%;
  }
}
.speakers-card__pic {
  width: 100%;
  height: 256px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.speakers-card__content {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  padding: 24px;
  background-color: $c-crimson;
  display: none;



  @media ($m-l) {
    right: -100%;
    bottom: unset;

    &--r {
      right: 100%;
    }
  }
}

.card-content__title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.350em;
  color: $c-white;
}

.card-content__text {
  font-size: 14px;
  line-height: 1.357em;
  color: $c-white;
}

.legal {
  margin-bottom: 64px;
}

.legal-docs {
  margin-top: 24px;
}

.legal-docs__item {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid $c-border;

  span {
    display: inline-block;
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin-right: 24px;
    border-radius: 100%;
    background: url("../img/file.svg") $c-crimson no-repeat center;
  }
  a {
    display: flex;
    align-items: center;
  }
}

//mobile version
.mobile-filters {
  padding: 12px 0;
  text-align: center;
  background-color: $c-gray-first;

  @media ($m-s) {
    display: none;
  }
}

.mobile-close {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: $c-crimson;

  span {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 2px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto ;
    transform: rotate(45deg);
    background-color: $c-white;

    &:first-child {
      transform: rotate(-45deg);

    }
  }
  @media ($m-s) {
    display: none;
  }
}

//event detail page

.event__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 128px;

  @media ($m-s) {
    flex-direction: row;
  }
}
.event-inner__left, .event-inner__right {
  flex-basis: 50%;
}

.event-inner__right {

  margin-top: 24px;

  @media ($m-s){
    margin-top: 0;
  }
}

.event-inner__left {
  display: flex;
}

.event-info__date {
  flex-basis: 50%;
}

.event-date__name,.event-loc__name {
  margin-bottom: 8px;
}
.event-date__value,.event-loc__value {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35em;
  color: $c-black;
}
.event-info__register {
  text-align: center;

  @media ($m-s) {
    text-align: right;
  }
}

.event-description {
  padding-top: 64px;
}

.event-description__text {
  padding-bottom: 64px;
  overflow: auto;

  @media ($m-s) {
    div:first-child {
      width: 47.5%;
      float: left;
    }
    div:nth-child(2) {
      width: 47.5%;
      float: right;
    }
  }
}
.event-location__pic {
  margin: 0 auto;
  text-align: center;
  max-width: 846px;
  max-height: 477px;
  overflow: hidden;
}

.event-location__title {
  margin: 48px 0 64px 0;
  padding-bottom: 64px;
  text-align: center;
}
.event__visit {
  margin-bottom: 196px;
}

.event-map {
  position: relative;

  margin-bottom: 98px;

  @media ($m-m) {
    margin-top: 64px;
  }
}

.event-map__google {
  display: inline-block;
  max-width: 100%;
  width: 846px;
  max-height: 100%;
  height: 443px;

}

.event-map__pic {
  z-index: -1;
  position: static;
  margin: 0 auto;
  margin-bottom: 24px;
  max-height: 472px ;
  max-width: 628px;
  top: 96px;
  right: 0;

  @media ($m-m) {
    position: absolute;
  }
}

.event-map__title {
  margin: unset;
  width: 100%;
  margin-top: 48px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.357em;
  color: $c-text-primary;

  @media ($m-xs) {
    font-size: 28px;
  }
  @media ($m-m) {
    width: 47.5%;
  }
}
//slider
.event-slider .slide_box {
  position: relative;
  margin: 96px 0 0 0;
  padding-bottom: 64px;
  overflow: hidden;

  @media ($m-xs) {
    margin: 196px 0 0 0;
    padding-bottom: 196px;
  }
}

.event-slider .slide_box ul:after {
  content:"";
  display:block;
  clear:both;
}

.event-slider .slide_box ul li {
  position:relative;
  float:left;
  margin-right:2.18%;
}
.event-slider .slide_box ul li:first-child {
  width:29.428%;
}
.event-slider .slide_box ul li.main_slide {
  width:36.78403%;
}
.event-slider .slide_box ul li:last-child {
  width:29.428%; margin-right:0;
}
.event-slider .slide_box ul li .dimbox {
  position:absolute;
  top:0;
  left:0;
  background: rgba(189,189,189,0) 0 0 no-repeat;
  width:100%;
  height:100%;
}
.event-slider .slide_box ul li.main_slide .dimbox {
  display:none;
}
.event-slider .slide_box ul li a {
  cursor:auto;
}
.event-slider .slide_box .slide_navi {
  position:absolute;
  top:0;
  left:22.95%;
  width:54.1%;
  margin-top:19.6%;
}
.event-slider .slide_box .slide_navi:after {
  content:"";
  display:block;
  clear:both;
}
.event-slider .slide_box .slide_navi span {
  float:left;
  width:13.988%;
}
.event-slider .slide_box .slide_navi span:last-child {
  float:right;
}

//media
@media ($ma-s) {
  .event-slider .slide_box ul li:first-child {
    width:74%;
    margin-left:-72%;
  }
  .event-slider .slide_box ul li.main_slide {
    width:91.6%;
  }
  .event-slider .slide_box ul li:last-child {
    float:right;
    width:74%;
    margin-right:-72%;
  }
  .event-slider .slide_box .slide_navi {
    left:2%;
    width:95.9%;
    margin-top:61%;
  }
  .event-slider .slide_box .slide_navi span {
    width:17%;
  }
}


//Modal
.modal-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 48px;

  &__title {
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.357em;
  }

}

.modal-form__row {
  margin-bottom: 22px;

  input {
    width: 100%;
    height: 56px ;
    padding: 14px 16px 18px 16px;
    border: 1px solid #E6E6E6;
  }
}

.form-row__title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.500em;

  span {
    color: $c-crimson;
  }
}

.modal-form__checkbox {
  margin-bottom: 24px;
}

.success {
  font-size: 22px;
  text-align: center;
}

.error {
  margin-top: 20px;
}
.modal-policy {
  display: block;
  position: relative;
  padding-left: 42px;
  color: $c-text-primary;
  font-weight: 200;
  font-family: "Noto Sans";
}