// Media
$m-xxs: "min-width: 375px";
$m-xxm: "min-width: 425px";
$m-xs: "min-width: 568px";
$m-s: "min-width: 768px";
$m-m: "min-width: 992px";
$m-ml: "min-width: 1200px";
$m-l: "min-width: 1280px";
$m-xl: "min-width: 1440px";
$m-xxl: "min-width: 1600px";
$m-xxxl: "min-width: 1920px";

$ma-xxs: "max-width: 374px";
$ma-xs: "max-width: 567px";
$ma-s: "max-width: 767px";
$ma-m: "max-width: 991px";
$ma-ml: "max-width: 1199px";
$ma-l: "max-width: 1279px";
$ma-xl: "max-width: 1439px";
$ma-xxl: "max-width: 1599px";

// Colors
$c-text-primary: #666666;
$c-gray-first: #F2F2F3;
$c-gray-second: #F4F4F4;
$c-border: #E6E6E6;
$c-white: #FFFFFF;
$c-black: #333333;
$c-crimson: #F16681;
